In [1]:
import pandas as pd

In [2]:
colors = ['green', 'red', 'white']
amounts = [3, 6, 7]

In [3]:
colors_amounts = list(zip(colors, amounts))
colors_amounts

[('green', 3), ('red', 6), ('white', 7)]

In [4]:
df = pd.DataFrame(data = colors_amounts, columns = ['Color', 'Amount'])
df

   Color  Amount
0  green       3
1    red       6
2  white       7

In [5]:
df.to_csv('colors.csv', index=False, header=False)

In [11]:
location = r'C:\Users\Magdalena Stenius\Desktop\ScikitSamples\colors.csv'
df = pd.read_csv(location, names=['Color', 'Count'])

In [12]:
df

   Color  Count
0  green      3
1    red      6
2  white      7